.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    gap: 1.5em;
}

.eventContainer {
    border-radius: 0.5em;
    background-color: #808080;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: left;
    padding: 1em;
    width: 35em;
    max-width: calc(100% - 2em)
}

.logout {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.button {
    background-color: #008080;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    width: max-content;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35em;
    height: 30em;
    padding: 1.5em;
    max-width: calc (100% - 3em);
    max-height: calc (100% - 3em);
    border-radius: 0.5em;
    background-color: #808080;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    gap: 0.5em;
}

.candidateAdder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.candidateAdder>span {
    cursor: pointer;
}